.sharing-post
  .page-heading
    padding-top: 10px
    min-height: 100px
  .container
    margin-left: 0 !important
    width: 100%
  .footer
    padding: $margin
      bottom: $margin * 2
  .page-heading
    .title
      .count-num
        &:hover
          background-color: rgba(0, 0, 0, .08)
          color: $sub-text-color !important


.published-time
  color: $sub-text-color
  font-size: 80%
  i
    font-size: 120%
    color: $icon-color
    +relative(2px)
  .num
    margin-left: 5px
