.pagenate
  Page
  %span.num= page_number
  of
  %span.num= num_pages
  - if prev_page
    %p.pagenate__prev.link-with-icon
      = link_to prev_page do
        %i.fa.fa-caret-left
        Previous
  - if next_page
    %p.pagenate__next.link-with-icon
      = link_to next_page do
        Next 
        %i.fa.fa-caret-right
